{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




	<div class="breac_crumbs">
		<a href="">首頁</a> > <a href="">資料目錄</a> > <p>所有資料集</p>
	</div>

	<div class="search_condition">
		<p>搜尋條件：</p>
		<div class="condition">空氣 <i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="condition">台北市政府環保局 <i class="fa fa-times" aria-hidden="true"></i></div><div class="condition">空氣 <i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="condition">台北市政府環保局 <i class="fa fa-times" aria-hidden="true"></i></div><div class="condition">空氣 <i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="condition">台北市政府環保局 <i class="fa fa-times" aria-hidden="true"></i></div>
	</div>
	<div class="clear"></div>

	


	<div class="show_aside">分類篩選工具</div>



	<div class="data_container">
		
		<!-- classification_screening -->
		<div class="classification_screening">
			<div class="aside_close"><i class="fa fa-times" aria-hidden="true"></i></div>
			<div class="data_search_i">
				<div class="search">
					<input type="text" placeholder="搜尋資料集">
					<a href="" class="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
				</div>
			</div>



			<div class="post_classification">
			<h5>分類篩選工具</h5>
			<div class="toolbox">
				<div class="boxtitle">
					機關分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display display_1">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>
					<div class="boxitem">
						<a href="" class="datalink">台北市政府環保局</a>
						<a href="" class="datalink">台北市政社會局</a>
						<a href="" class="datalink">台北市政府資訊局</a>
						<a href="" class="datalink">台北市政府觀光傳播局</a>
						<a href="" class="datalink">台北市政府觀光傳播市場處</a>
				
					</div>
					<div class="box_showmore">顯示更多</div>
				</div>
			</div>

			<div class="toolbox">
				<div class="boxtitle">
					主題分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>
					
					<div class="box_showmore">顯示更多</div>
				</div>
			</div>

			<div class="toolbox">
				<div class="boxtitle">
					資料地區分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>
					
					<div class="box_showmore">顯示更多</div>
				</div>
			</div>
			<a href="" class="filter_btn">篩選</a>
			</div>
		</div>



		<!-- data_detail -->
		<div class="data_detail">

			<div class="data_collection">
				<div class="data_summary">
					共 123092 筆資料
				</div>
				<div class="data_select">
					<select name="" id="">
						<option value="">最新資料</option>
						<option value="">最新資料</option>
						<option value="">最新資料</option>
						<option value="">最新資料</option>
						<option value="">最新資料</option>
					</select>
				</div>
			</div>




			<div class="pages">
				<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
				<a href="" class="mainblue">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
			</div>


			<div class="data_detail_table">
				<div class="row line-bottom-2">
					<div class="col-b"><h6>資料名稱</h6></div>
					<div class="col-a"><h6>資料及描述</h6></div>
					<div class="col-c"><h6>更新時間 <i class="fa fa-arrow-down" aria-hidden="true"></i></h6></div>
					<div class="col-d"><h6>使用次數</h6></div>
					<div class="col-d"><h6>資料格式</h6></div>
					<div class="clear"></div>
				</div>

				<div class="row line-bottom-1">
					<div class="col-b"><h5>台北市空氣品質監測站基本資料</h5></div>
					<div class="col-a">
						<p>保險別、給付種類、網址(URL),勞保年金給付介紹包含勞保老年年金給付、勞保失能年金給付、勞保遺屬年金給付、國保老年年金給付、國保身心障礙年金給付、國保遺屬年金給付及勞退年金保險。</p>
					</div>
					<div class="col-c"><p>20170-03-19</p></div>
					<div class="col-d"><p>38919次</p></div>
					<div class="col-d">
						<div class="format CSV">CSV</div>
						<div class="format JSON">JSON</div>
						<div class="format XLSX">XLSX</div>
					</div>
					<div class="clear"></div>
				</div>


				<div class="row line-bottom-1">
					<div class="col-b"><h5>台北市空氣品質監測站基本資料</h5></div>
					<div class="col-a">
						<p>保險別、給付種類、網址(URL),勞保年金給付介紹包含勞保老年年金給付、勞保失能年金給付、勞保遺屬年金給付、國保老年年金給付、國保身心障礙年金給付、國保遺屬年金給付及勞退年金保險。</p>
					</div>
					<div class="col-c"><p>20170-03-19</p></div>
					<div class="col-d"><p>38919次</p></div>
					<div class="col-d">
						<div class="format XLS">XLS</div>
						<div class="format ODS">ODS</div>
						<div class="format XODT">XODT</div>
					</div>
					<div class="clear"></div>
				</div>


				<div class="row line-bottom-1">
					<div class="col-b"><h5>台北市空氣品質監測站基本資料</h5></div>
					<div class="col-a">
						<p>保險別、給付種類、網址(URL),勞保年金給付介紹包含勞保老年年金給付、勞保失能年金給付、勞保遺屬年金給付、國保老年年金給付、國保身心障礙年金給付、國保遺屬年金給付及勞退年金保險。</p>
					</div>
					<div class="col-c"><p>20170-03-19</p></div>
					<div class="col-d"><p>38919次</p></div>
					<div class="col-d">
						<div class="format JSON">JSON</div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="row line-bottom-1">
					<div class="col-b"><h5>台北市空氣品質監測站基本資料</h5></div>
					<div class="col-a">
						<p>保險別、給付種類、網址(URL),勞保年金給付介紹包含勞保老年年金給付、勞保失能年金給付、勞保遺屬年金給付、國保老年年金給付、國保身心障礙年金給付、國保遺屬年金給付及勞退年金保險。</p>
					</div>
					<div class="col-c"><p>20170-03-19</p></div>
					<div class="col-d"><p>38919次</p></div>
					<div class="col-d">
						<div class="format JSON">JSON</div>
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="row line-bottom-1">
					<div class="col-b"><h5>台北市空氣品質監測站基本資料</h5></div>
					<div class="col-a">
						<p>保險別、給付種類、網址(URL),勞保年金給付介紹包含勞保老年年金給付、勞保失能年金給付、勞保遺屬年金給付、國保老年年金給付、國保身心障礙年金給付、國保遺屬年金給付及勞退年金保險。</p>
					</div>
					<div class="col-c"><p>20170-03-19</p></div>
					<div class="col-d"><p>38919次</p></div>
					<div class="col-d">
						<div class="format JSON">JSON</div>
					</div>
					<div class="clear"></div>
				</div>
			
				<div class="row line-bottom-1">
					<div class="col-b"><h5>台北市空氣品質監測站基本資料</h5></div>
					<div class="col-a">
						<p>保險別、給付種類、網址(URL),勞保年金給付介紹包含勞保老年年金給付、勞保失能年金給付、勞保遺屬年金給付、國保老年年金給付、國保身心障礙年金給付、國保遺屬年金給付及勞退年金保險。</p>
					</div>
					<div class="col-c"><p>20170-03-19</p></div>
					<div class="col-d"><p>38919次</p></div>
					<div class="col-d">
						<div class="format JSON">JSON</div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="row line-bottom-1">
					<div class="col-b"><h5>台北市空氣品質監測站基本資料</h5></div>
					<div class="col-a">
						<p>保險別、給付種類、網址(URL),勞保年金給付介紹包含勞保老年年金給付、勞保失能年金給付、勞保遺屬年金給付、國保老年年金給付、國保身心障礙年金給付、國保遺屬年金給付及勞退年金保險。</p>
					</div>
					<div class="col-c"><p>20170-03-19</p></div>
					<div class="col-d"><p>38919次</p></div>
					<div class="col-d">
						<div class="format JSON">JSON</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="row line-bottom-1">
					<div class="col-b"><h5>台北市空氣品質監測站基本資料</h5></div>
					<div class="col-a">
						<p>保險別、給付種類、網址(URL),勞保年金給付介紹包含勞保老年年金給付、勞保失能年金給付、勞保遺屬年金給付、國保老年年金給付、國保身心障礙年金給付、國保遺屬年金給付及勞退年金保險。</p>
					</div>
					<div class="col-c"><p>20170-03-19</p></div>
					<div class="col-d"><p>38919次</p></div>
					<div class="col-d">
						<div class="format JSON">JSON</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="row line-bottom-1">
					<div class="col-b"><h5>台北市空氣品質監測站基本資料</h5></div>
					<div class="col-a">
						<p>保險別、給付種類、網址(URL),勞保年金給付介紹包含勞保老年年金給付、勞保失能年金給付、勞保遺屬年金給付、國保老年年金給付、國保身心障礙年金給付、國保遺屬年金給付及勞退年金保險。</p>
					</div>
					<div class="col-c"><p>20170-03-19</p></div>
					<div class="col-d"><p>38919次</p></div>
					<div class="col-d">
						<div class="format JSON">JSON</div>
					</div>
					<div class="clear"></div>
				</div>

			
				<div class="clear"></div>
				<div class="pages">
					<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
					<a href="" class="mainblue">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">5</a>
					<a href="">6</a>
					<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	

	



{% endblock %}