{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="search_area">
	<input type="text" placeholder="搜尋出版品資料">
		<a href="" class="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
</div>


<div class="news_info">
	<div class="news_cross">
		<div class="news_slider">
			<section class="news slider">
			    <div class="new_photo">
			    	<img src="img/o1.jpg">
			    </div>
			  	<div class="new_photo">
			    	<img src="img/o1.jpg">
			    </div>
			  		<div class="new_photo">
			    	<img src="img/o1.jpg">
			    </div>
			  	<div class="new_photo">
			    	<img src="img/o1.jpg">
			    </div>
			  	<div class="new_photo">
			    	<img src="img/o1.jpg">
			    </div>
			</section>
		</div>
		<div class="news_items">
			<h6>最新消息</h6>
			<div class="news_title">
				<div class="t-tt"><a href="">捷運各站分時進出站OD資料開放，歡迎下載應用!</a></div>
				<p>2017/03/15</p>
			</div>
			<div class="news_title">
				<div class="t-tt"><a href="">捷運各站分時進出站OD資料開放，歡迎下載應用!</a></div>
				<p>2017/03/15</p>
			</div>
			<div class="news_title">
				<div class="t-tt"><a href="">捷運各站分時進出站OD資料開放，歡迎下載應用!</a></div>
				<p>2017/03/15</p>
			</div>
			<div class="news_title">
				<div class="t-tt"><a href="">捷運各站分時進出站OD資料開放，歡迎下載應用!</a></div>
				<p>2017/03/15</p>
			</div>
			<div class="news_title">
				<div class="t-tt"><a href="">捷運各站分時進出站OD資料開放，歡迎下載應用!</a></div>
				<p>2017/03/15</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>

</div>





	<div class="show_aside">分類篩選工具</div>

	<div class="data_container">
		<!-- classification_screening -->
		<div class="classification_screening">
			<div class="aside_close"><i class="fa fa-times" aria-hidden="true"></i></div>


			<div class="post_classification">
			<h5>分類篩選工具</h5>
			<div class="toolbox">
				<div class="boxtitle">
					機關分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display display_1">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>
					<div class="boxitem">
						<a href="" class="datalink">台北市政府環保局</a>
						<a href="" class="datalink">台北市政社會局</a>
						<a href="" class="datalink">台北市政府資訊局</a>
						<a href="" class="datalink">台北市政府觀光傳播局</a>
						<a href="" class="datalink">台北市政府觀光傳播市場處</a>

					</div>
					<div class="box_showmore">顯示更多</div>
				</div>
			</div>

			<div class="toolbox">
				<div class="boxtitle">
					主題分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>

					<div class="box_showmore">顯示更多</div>
				</div>
			</div>

			<div class="toolbox">
				<div class="boxtitle">
					資料地區分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>

					<div class="box_showmore">顯示更多</div>
				</div>
			</div>
			<a href="" class="filter_btn">篩選</a>
			</div>
		</div>



		<!-- data_detail -->
		<div class="data_detail">
			<div class="publish_title">
				出版品列表
			</div>

			<div class="data_collection">
				<div class="data_summary">
					共 123092 筆資料
				</div>
				<div class="data_select">
					<select name="" id="">
						<option value="">依瀏覽次數排列</option>
						<option value="">依瀏覽次數排列</option>
						<option value="">依瀏覽次數排列</option>
						<option value="">依瀏覽次數排列</option>
						<option value="">依瀏覽次數排列</option>
					</select>
				</div>
			</div>


			<div class="data_detail_table">
				<div class="r-row">
					<a href="">台北市政府公報（106年度）</a>
					<p>2017-01-26｜</p>
					<p>出版｜</p>
					<p>期刊｜</p>
					<p>台北市政府秘書處｜</p>
					<p>9090次下載｜</p>
					<p>10290次瀏覽</p>
					<div class="clear"></div>

				</div>
				<div class="r-row">
					<a href="">台北市政府公報（106年度）</a>
					<p>2017-01-26｜</p>
					<p>出版｜</p>
					<p>期刊｜</p>
					<p>台北市政府秘書處｜</p>
					<p>9090次下載｜</p>
					<p>10290次瀏覽</p>
					<div class="clear"></div>
				</div>
				<div class="r-row">
					<a href="">台北市政府公報（106年度）</a>
					<p>2017-01-26｜</p>
					<p>出版｜</p>
					<p>期刊｜</p>
					<p>台北市政府秘書處｜</p>
					<p>9090次下載｜</p>
					<p>10290次瀏覽</p>
					<div class="clear"></div>
				</div>
				<div class="r-row">
					<a href="">台北市政府公報（106年度）</a>
					<p>2017-01-26｜</p>
					<p>出版｜</p>
					<p>期刊｜</p>
					<p>台北市政府秘書處｜</p>
					<p>9090次下載｜</p>
					<p>10290次瀏覽</p>
					<div class="clear"></div>
				</div>
				<div class="r-row">
					<a href="">台北市政府公報（106年度）</a>
					<p>2017-01-26｜</p>
					<p>出版｜</p>
					<p>期刊｜</p>
					<p>台北市政府秘書處｜</p>
					<p>9090次下載｜</p>
					<p>10290次瀏覽</p>
					<div class="clear"></div>
				</div>
				<div class="r-row">
					<a href="">台北市政府公報（106年度）</a>
					<p>2017-01-26｜</p>
					<p>出版｜</p>
					<p>期刊｜</p>
					<p>台北市政府秘書處｜</p>
					<p>9090次下載｜</p>
					<p>10290次瀏覽</p>
					<div class="clear"></div>
				</div>
				<div class="r-row">
					<a href="">台北市政府公報（106年度）</a>
					<p>2017-01-26｜</p>
					<p>出版｜</p>
					<p>期刊｜</p>
					<p>台北市政府秘書處｜</p>
					<p>9090次下載｜</p>
					<p>10290次瀏覽</p>
					<div class="clear"></div>
				</div>
				<div class="r-row">
					<a href="">台北市政府公報（106年度）</a>
					<p>2017-01-26｜</p>
					<p>出版｜</p>
					<p>期刊｜</p>
					<p>台北市政府秘書處｜</p>
					<p>9090次下載｜</p>
					<p>10290次瀏覽</p>
					<div class="clear"></div>
				</div>
				<div class="r-row">
					<a href="">台北市政府公報（106年度）</a>
					<p>2017-01-26｜</p>
					<p>出版｜</p>
					<p>期刊｜</p>
					<p>台北市政府秘書處｜</p>
					<p>9090次下載｜</p>
					<p>10290次瀏覽</p>
					<div class="clear"></div>
				</div>
				<div class="r-row">
					<a href="">台北市政府公報（106年度）</a>
					<p>2017-01-26｜</p>
					<p>出版｜</p>
					<p>期刊｜</p>
					<p>台北市政府秘書處｜</p>
					<p>9090次下載｜</p>
					<p>10290次瀏覽</p>
					<div class="clear"></div>
				</div>






				<div class="clear"></div>
				<div class="pages">
					<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
					<a href="" class="mainblue">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">5</a>
					<a href="">6</a>
					<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>






{% endblock %}