{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="search_area">
	<input type="text" placeholder="搜尋出版品資料">
		<a href="" class="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
</div>






	<div class="data_container">

		<!-- classification_screening -->
		<div class="classification_screening">

			<div class="bookcover">
				<div class="c-cover">
					<img src="img/book01.jpg" alt="">
				</div>
				<div class="content_slider">
					<section class="bookinside slider">
					    <div>
					      <img src="http://placehold.it/50x50?text=1">
					    </div>
					    <div>
					      <img src="http://placehold.it/50x50?text=2">
					    </div>
					    <div>
					      <img src="http://placehold.it/50x50?text=3">
					    </div>
					    <div>
					      <img src="http://placehold.it/50x50?text=4">
					    </div>
					    <div>
					      <img src="http://placehold.it/50x50?text=5">
					    </div>
					  </section>
				</div>
			</div>



		</div>


		<!-- data_detail -->
		<div class="data_detail">
			<div class="bookinfo">
				<h5>臺北畫刊 《590》 </h5>
				<div class="keyword_section">
					<div class="keyword">休閒旅遊</div>
					<div class="keyword">觀光</div>
					<div class="keyword">文化</div>
					<div class="keyword">飲食</div>
					<div class="keyword">休閒旅遊</div>
					<div class="keyword">觀光</div>
					<div class="keyword">文化</div>
					<div class="keyword">飲食</div>
					<div class="clear"></div>
				</div>

				<div class="description">
					<div class="col-t">題分類</div>
					<div class="col-des">休閒旅遊</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">出版機關</div>
					<div class="col-des">臺北市政府觀光傳播局</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">協辦機關</div>
					<div class="col-des">無</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">編/著/譯者</div>
					<div class="col-des">謝佩君</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">出版年月</div>
					<div class="col-des">2017-03</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">出版品分類</div>
					<div class="col-des">連續性出版品(期刊)</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">書籍分類</div>
					<div class="col-des">期刊</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">屬性分類</div>
					<div class="col-des">休閒娛樂,觀光旅遊,飲食生活,文化藝術</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">出版品概述</div>
					<div class="col-des">本刊物為本府重要宣傳管道之一，主要以圖文並茂方式及觀光休閒、城市行銷為取材方向，呈現臺北市多元的城市樣貌，並以年輕化、活潑化及休閒化之版面設計與報導方式，每月配合本府城市行銷及觀光旅遊等各項議題，提供民眾及旅客重要的臺北生活與觀光旅遊資訊，並吸引外縣市民眾前來本市體驗臺北城市之美。</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">出版品統一編號(ＧＰＮ)</div>
					<div class="col-des">2005700037</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">相關國際編號</div>
					<div class="col-des">2005700037</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">語言別</div>
					<div class="col-des">中文</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">展售處</div>
					<div class="col-des">本市捷運各站、市圖各分館及各縣市旅遊服務中心等免費索取。</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">定價</div>
					<div class="col-des">25</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">授權資訊</div>
					<div class="col-des">本刊全部圖文均有著作權，未經本刊同意不得使用或取材。</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">標籤/關鍵字</div>
					<div class="col-des">無</div>
					<div class="clear"></div>
				</div>
				<div class="description">
					<div class="col-t">備註說明</div>
					<div class="col-des">無</div>
					<div class="clear"></div>
				</div>


				<div class="bookfiles">
					<div class="bookfiles_title">出版品檔案</div>
					<div class="download_total">
						<div class="t-start">
							<img src="img/pdf-icon-total.png" alt="">
							<div class="t-text">
								<h6>台北畫刊 1890 期</h6>
								<p>2017-03-19 10:29:29</p>
							</div>
						</div>
						<a href="#" class="downloadicon">檔案下載</a>
					</div>


					<div class="thisissue">當期目錄</div>
					<div class="issue_contnet">
						<div class="t-text">
							<h6>編者的話</h6>
							<p>2017-03-19 10:29:29</p>
						</div>
						<img src="img/pdf-icon.png" alt="">
					</div>
					<div class="issue_contnet">
						<div class="t-text">
							<h6>封面故事</h6>
							<p>2017-03-19 10:29:29</p>
						</div>
						<img src="img/pdf-icon.png" alt="">
					</div>
					<div class="issue_contnet">
						<div class="t-text">
							<h6>大師會客</h6>
							<p>2017-03-19 10:29:29</p>
						</div>
						<img src="img/pdf-icon.png" alt="">
					</div>
					<div class="issue_contnet">
						<div class="t-text">
							<h6>世大運特輯</h6>
							<p>2017-03-19 10:29:29</p>
						</div>
						<img src="img/pdf-icon.png" alt="">
					</div>
					<div class="issue_contnet">
						<div class="t-text">
							<h6>尋味台北</h6>
							<p>2017-03-19 10:29:29</p>
						</div>
						<img src="img/pdf-icon.png" alt="">
					</div>
					<div class="issue_contnet">
						<div class="t-text">
							<h6>趣玩台北</h6>
							<p>2017-03-19 10:29:29</p>
						</div>
						<img src="img/pdf-icon.png" alt="">
					</div>
				</div>
				<div class="showmore"> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> 展開檢視更多</div>
			</div>


			<div class="morebooks">
				  <section class="regular slider">
				    <div class="bookitem">
				    	<img src="img/book01.jpg">
				    	<p>妖怪推理第一人京極夏彥全新演繹「日本聊齋」—《耳袋》</p>
				    </div>
				  	<div class="bookitem">
				    	<img src="img/book01.jpg">
				    	<p>不存在的房間】奧斯卡影后布麗拉爾森 動人演出</p>
				    </div>
				  		<div class="bookitem">
				    	<img src="img/book01.jpg">
				    	<p>20世紀最偉大同志先鋒 傳奇人生首次搬上大銀幕</p>
				    </div>
				  		<div class="bookitem">
				    	<img src="img/book01.jpg">
				    	<p>《過得還不錯的一年》作者教你，從自我期待出發找自己</p>
				    </div>
				  		<div class="bookitem">
				    	<img src="img/book01.jpg">
				    	<p>小鼠波波大冒險繪本套書，最多人找的書在這裡</p>
				    </div>
				  		<div class="bookitem">
				    	<img src="img/book01.jpg">
				    	<p>鄭丰出道10週年代表作！獨家書盒簽名藏書票</p>
				    </div>
				  		<div class="bookitem">
				    	<img src="img/book01.jpg">
				    	<p>專訪職人與貓的故事。附:喵!肉蛋球別冊!</p>
				    </div>

				  </section>
			</div>



		</div>
	</div>






{% endblock %}