{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="search_area">
	<input type="text" placeholder="搜尋出版品資料">
		<a href="" class="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
</div>

<div class="news_info">
	<div class="news_cross">
		<div class="news_slider">
			<section class="news slider">
			    <div class="new_photo">
			    	<img src="img/o1.jpg">
			    </div>
			  	<div class="new_photo">
			    	<img src="img/o1.jpg">
			    </div>
			  		<div class="new_photo">
			    	<img src="img/o1.jpg">
			    </div>
			  	<div class="new_photo">
			    	<img src="img/o1.jpg">
			    </div>
			  	<div class="new_photo">
			    	<img src="img/o1.jpg">
			    </div>
			</section>
		</div>
		<div class="news_items">
			<div class="news_t">
				<h6>最新消息</h6>
				<a href="#" class="moremore">更多</a>
			</div>

			<div class="news_title">
				<div class="t-tt"><a href="">捷運各站分時進出站OD資料開放，歡迎下載應用!</a></div>
				<p>2017/03/15</p>
			</div>
			<div class="news_title">
				<div class="t-tt"><a href="">捷運各站分時進出站OD資料開放，歡迎下載應用!</a></div>
				<p>2017/03/15</p>
			</div>
			<div class="news_title">
				<div class="t-tt"><a href="">捷運各站分時進出站OD資料開放，歡迎下載應用!</a></div>
				<p>2017/03/15</p>
			</div>
			<div class="news_title">
				<div class="t-tt"><a href="">捷運各站分時進出站OD資料開放，歡迎下載應用!</a></div>
				<p>2017/03/15</p>
			</div>
			<div class="news_title">
				<div class="t-tt"><a href="">捷運各站分時進出站OD資料開放，歡迎下載應用!</a></div>
				<p>2017/03/15</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>

</div>






	<div class="show_aside">分類篩選工具</div>

	<div class="data_container">

		<!-- classification_screening -->
		<div class="classification_screening">
			<div class="aside_close"><i class="fa fa-times" aria-hidden="true"></i></div>


			<div class="post_classification">
			<h5>分類篩選工具</h5>
			<div class="toolbox">
				<div class="boxtitle">
					機關分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display display_1">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>
					<div class="boxitem">
						<a href="" class="datalink">台北市政府環保局</a>
						<a href="" class="datalink">台北市政社會局</a>
						<a href="" class="datalink">台北市政府資訊局</a>
						<a href="" class="datalink">台北市政府觀光傳播局</a>
						<a href="" class="datalink">台北市政府觀光傳播市場處</a>

					</div>
					<div class="box_showmore">顯示更多</div>
				</div>
			</div>

			<div class="toolbox">
				<div class="boxtitle">
					主題分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>

					<div class="box_showmore">顯示更多</div>
				</div>
			</div>

			<div class="toolbox">
				<div class="boxtitle">
					資料地區分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>

					<div class="box_showmore">顯示更多</div>
				</div>
			</div>
			<a href="" class="filter_btn">篩選</a>
			</div>
		</div>



		<!-- data_detail -->
		<div class="data_detail">
			<div class="publish_title">
				出版品列表
			</div>

			<div class="data_collection">
				<div class="data_summary">
					共 123092 筆資料
				</div>
				<div class="show_switch">
					<div class="showlist"><i class="fa fa-th" aria-hidden="true"></i> 圖示顯示</div>
					<div class="showlist"><i class="fa fa-list" aria-hidden="true"></i> 列表顯示</div>
				</div>
				<div class="data_select">
					<select name="" id="">
						<option value="">依瀏覽次數排列</option>
						<option value="">依瀏覽次數排列</option>
						<option value="">依瀏覽次數排列</option>
						<option value="">依瀏覽次數排列</option>
						<option value="">依瀏覽次數排列</option>
					</select>
				</div>
			</div>

			<div class="book_shelf">

				<div class="s-shelf">
					<div class="shelf_w">
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
							<div class="bookname">
								<p>臺北畫刊 《590》</p>
							</div>
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
							<div class="bookname">
								<p>妖怪推理第一人京極夏彥全新演繹「日本聊齋」</p>
							</div>
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
							<div class="bookname">
								<p>不存在的房間】奧斯卡影后布麗拉爾森 動人演出</p>
							</div>
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
							<div class="bookname">
								<p>20世紀最偉大同志先鋒 傳奇人生首次搬上大銀幕</p>
							</div>
						</div>
					</div>
				</div>
				<div class="s-shelf">
					<div class="shelf_w">
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
							<div class="bookname">
								<p>《過得還不錯的一年》作者教你，從自我期待出發找自己</p>
							</div>
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
							<div class="bookname">
								<p>《過得還不錯的一年》作者教你，從自我期待出發找自己</p>
							</div>
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
							<div class="bookname">
								<p>《過得還不錯的一年》作者教你，從自我期待出發找自己</p>
							</div>
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
							<div class="bookname">
								<p>《過得還不錯的一年》作者教你，從自我期待出發找自己</p>
							</div>
						</div>
					</div>
				</div>
				<div class="s-shelf">
					<div class="shelf_w">
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
							<div class="bookname">
								<p>鄭丰出道10週年代表作！獨家書盒簽名藏書票</p>
							</div>
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
							<div class="bookname">
								<p>鄭丰出道10週年代表作！獨家書盒簽名藏書票</p>
							</div>
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
							<div class="bookname">
								<p>專訪職人與貓的故事。附:喵!肉蛋球別冊!</p>
							</div>
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
							<div class="bookname">
								<p>專訪職人與貓的故事。附:喵!肉蛋球別冊!</p>
							</div>
						</div>
					</div>
				</div>
				<div class="s-shelf">
						<div class="shelf_w">
							<div class="b-book">
								<img src="img/book01.jpg" alt="">
								<div class="bookname">
								<p>臺北畫刊 《590》</p>
							</div>
							</div>
							<div class="b-book">
								<img src="img/book01.jpg" alt="">
								<div class="bookname">
								<p>臺北畫刊 《590》</p>
							</div>
							</div>
							<div class="b-book">
								<img src="img/book01.jpg" alt="">
								<div class="bookname">
								<p>臺北畫刊 《590》</p>
							</div>
							</div>
							<div class="b-book">
								<img src="img/book01.jpg" alt="">
								<div class="bookname">
								<p>臺北畫刊 《590》</p>
							</div>
							</div>
						</div>
					</div>




			</div>

			<div class="pages">
				<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
				<a href="" class="mainblue">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
			</div>
		</div>


	</div>






{% endblock %}