{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="search_area">
	<input type="text" placeholder="搜尋出版品資料">
		<a href="" class="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
</div>

<div class="breac_crumbs">
	<a href="">首頁</a> &gt; <a href="">分類瀏覽</a> &gt; <p>主題分類</p>
</div>

	<div class="show_aside" style="display: none">分類篩選工具</div>

	<div class="data_container">
		<div class="bookinfo">
		<div class="bookinfo-t">
			
		<h5>Footer 你要好好加油</h5>
	
		</div>
		</div>

	</div>
	





{% endblock %}