{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="search_area">
	<input type="text" placeholder="搜尋出版品資料">
		<a href="" class="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
</div>

<div class="news_info"></div>




	<div class="show_aside">分類篩選工具</div>

	<div class="data_container">
	
		<!-- classification_screening -->
		<div class="classification_screening">
			<div class="aside_close"><i class="fa fa-times" aria-hidden="true"></i></div>
			<div class="data_search_i">
				<div class="search">
					<input type="text" placeholder="搜尋資料集">
					<a href="" class="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
				</div>
			</div>



			<div class="post_classification">
			<h5>分類篩選工具</h5>
			<div class="toolbox">
				<div class="boxtitle">
					機關分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display display_1">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>
					<div class="boxitem">
						<a href="" class="datalink">台北市政府環保局</a>
						<a href="" class="datalink">台北市政社會局</a>
						<a href="" class="datalink">台北市政府資訊局</a>
						<a href="" class="datalink">台北市政府觀光傳播局</a>
						<a href="" class="datalink">台北市政府觀光傳播市場處</a>

					</div>
					<div class="box_showmore">顯示更多</div>
				</div>
			</div>

			<div class="toolbox">
				<div class="boxtitle">
					主題分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>

					<div class="box_showmore">顯示更多</div>
				</div>
			</div>

			<div class="toolbox">
				<div class="boxtitle">
					資料地區分類
					<div class="toggle_btn"><i class="fa fa-plus" aria-hidden="true"></i></div>
				</div>

				<div class="box_display">
					<div class="boxsearch">
						<input type="text" placeholder="請輸入關鍵字">
					</div>

					<div class="box_showmore">顯示更多</div>
				</div>
			</div>
			<a href="" class="filter_btn">篩選</a>
			</div>
		</div>



		<!-- data_detail -->
		<div class="data_detail">
			<div class="book_shelf">

				<div class="s-shelf">
					<div class="shelf_w">
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="s-shelf">
					<div class="shelf_w">
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="s-shelf">
					<div class="shelf_w">
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
						</div>
						<div class="b-book">
							<img src="img/book01.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="s-shelf">
						<div class="shelf_w">
							<div class="b-book">
								<img src="img/book01.jpg" alt="">
							</div>
							<div class="b-book">
								<img src="img/book01.jpg" alt="">
							</div>
							<div class="b-book">
								<img src="img/book01.jpg" alt="">
							</div>
							<div class="b-book">
								<img src="img/book01.jpg" alt="">
							</div>
						</div>
					</div>







			</div>

			<div class="pages">
				<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
				<a href="" class="mainblue">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
			</div>
		</div>


	</div>






{% endblock %}