{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="search_area">
	<input type="text" placeholder="搜尋出版品資料">
		<a href="" class="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
</div>

<div class="breac_crumbs">
	<a href="">首頁</a> &gt; <a href="">分類瀏覽</a> &gt; <p>主題分類</p>
</div>

	<div class="show_aside" style="display: none">分類篩選工具</div>


	<div class="read_container">

		<div class="t-message">
			訊息公告
			<div class="count">共 <span>8</span> 筆訊息公告</div>

		</div>

		<div class="read_list">
			<div class="photo">
				<img src="img/5481811253.jpg" alt="">
			</div>
			<div class="read_des">
				<h5>《精彩臺北》中英日韓刊物免費放送 邀請您熱力遊臺北</h5>
				<h6>2017-11-29</h6>
				<p>想感受旅遊熱力，來臺北旅遊就對了！臺北市觀光傳播局媒體出版科代科長鍾齡玲指出，熱情夏季來臨，6、7月號《精彩臺北》推薦3條路線，有排隊美食聚集的公館一帶、洋溢青春的西門町，以及文青加美食的永康、青田街區，邀請您一起「趁熱」遊臺北。</p>
				<a href="#" class="readmore">繼續閱讀</a>
			</div>
		</div>
		<div class="read_list">
			<div class="photo">
				<img src="img/5481811253.jpg" alt="">
			</div>
			<div class="read_des">
				<h5>《精彩臺北》中英日韓刊物免費放送 邀請您熱力遊臺北</h5>
				<h6>2017-11-29</h6>
				<p>想感受旅遊熱力，來臺北旅遊就對了！臺北市觀光傳播局媒體出版科代科長鍾齡玲指出，熱情夏季來臨，6、7月號《精彩臺北》推薦3條路線，有排隊美食聚集的公館一帶、洋溢青春的西門町，以及文青加美食的永康、青田街區，邀請您一起「趁熱」遊臺北。</p>
				<a href="#" class="readmore">繼續閱讀</a>
			</div>
		</div>
		<div class="read_list">
			<div class="photo">
				<img src="img/5481811253.jpg" alt="">
			</div>
			<div class="read_des">
				<h5>《精彩臺北》中英日韓刊物免費放送 邀請您熱力遊臺北</h5>
				<h6>2017-11-29</h6>
				<p>想感受旅遊熱力，來臺北旅遊就對了！臺北市觀光傳播局媒體出版科代科長鍾齡玲指出，熱情夏季來臨，6、7月號《精彩臺北》推薦3條路線，有排隊美食聚集的公館一帶、洋溢青春的西門町，以及文青加美食的永康、青田街區，邀請您一起「趁熱」遊臺北。</p>
				<a href="#" class="readmore">繼續閱讀</a>
			</div>
		</div>
		<div class="read_list">
			<div class="photo">
				<img src="img/5481811253.jpg" alt="">
			</div>
			<div class="read_des">
				<h5>《精彩臺北》中英日韓刊物免費放送 邀請您熱力遊臺北</h5>
				<h6>2017-11-29</h6>
				<p>想感受旅遊熱力，來臺北旅遊就對了！臺北市觀光傳播局媒體出版科代科長鍾齡玲指出，熱情夏季來臨，6、7月號《精彩臺北》推薦3條路線，有排隊美食聚集的公館一帶、洋溢青春的西門町，以及文青加美食的永康、青田街區，邀請您一起「趁熱」遊臺北。</p>
				<a href="#" class="readmore">繼續閱讀</a>
			</div>
		</div>

	</div>


			<div class="pages">
				<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
				<a href="" class="mainblue">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
			</div>



{% endblock %}