<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/favicon.ico" />
<meta name="keywords" content="">
<meta name="description" content="">
<title>台北市政府出版專區</title>


<link rel="stylesheet" href="css/font-awesome.min.css">
<link href="css/jquery.bxslider.css" rel="stylesheet" />
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/module.css">

<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>



<script src="js/ui.js"></script>

<script>
	$(document).on('ready', function() {
		$(".regular").slick({
			dots: false,
			infinite: true,
			slidesToShow: 4,
			slidesToScroll: 3
		});
		$(".bookinside").slick({
			dots: false,
			infinite: true,
			slidesToShow: 4,
			slidesToScroll: 3
		});
		$(".news").slick({
			dots: true,
			infinite: true
		});

	});

</script>


</head>
<body>


<div class="header_wrapper">
	<header>
		<div class="logo">台北市政府出版專區</div>

		<div class="deskmenu">
		<ul>
			<li><a href="">出版品查詢</a></li>
			<div class="lll"></div>
			<li><a href="">出版品目錄</a></li>
			<div class="lll"></div>
			<li><a href="">相關網站</a></li>
			<div class="lll"></div>
			<li><a href=""><i class="fa fa-envelope" aria-hidden="true"></i> 意見回饋</a></li>

		</ul>
	</div>

	<div class="hamburg">
		<span class="aaa"></span>
		<span class="bbb"></span>
		<span class="ccc"></span>
	</div>
	<div class="aside">
			<ul>
				<li><a href="#"  class="m-first">出版品查詢</a></li>
				<li><a href="#" class="m-first">出版品目錄</a></li>
				<li><a href="#" class="m-first">相關網站</a></li>
				<li><a href="#" class="m-first"><i class="fa fa-envelope" aria-hidden="true"></i> 意見回饋</a></a></li>
			</ul>
		</div>

	</header>
</div>


<!-- mobile menu -->




{% block page %}{% endblock %}

<div class="footer_wrapper">
	<footer>
		<div class="copyright">
			 <p>02-27208889(代表號), 臺北市民當家熱線 1999(免付費電話服務，公共電話及預付卡除外) 轉 2858 或 2885</p>
			 <p>services@mail.taipei.gov.tw</p>
			 <p>11008 臺北市信義區市府路1號</p>
			<p>臺北市政府資訊局 版權所有 © 2017 Taipei City Government. All Rights Reserved. </p>
		</div>

		<div class="footer_link">
			<a href="">隱私權保護政策  </a>
			<a href="">隱私權及資訊安全政策 </a>
			<a href="">網站地圖  </a>
		</div>
	</footer>
</div>







</body>
</html>